## Data Preprocessing and Model Training

| Column Name                       | Data Type (Pandas) | Feature Type                    | Description                                           |
| --------------------------------- | ------------------ | ------------------------------- | ----------------------------------------------------- |
| **Unnamed: 0**                    | `int64`            | Index / Identifier              | Auto-generated index column (not useful for modeling) |
| **Area**                          | `object`           | Categorical (Nominal)           | Country or region name                                |
| **Item**                          | `object`           | Categorical (Nominal)           | Crop type (e.g., Maize, Rice, Potatoes)               |
| **Year**                          | `int64`            | Numerical (Temporal)            | Year of observation                                   |
| **hg/ha_yield**                   | `int64`            | Numerical (Target / Continuous) | Crop yield in hectograms per hectare                  |
| **average_rain_fall_mm_per_year** | `float64`          | Numerical (Continuous)          | Annual rainfall in mm                                 |
| **pesticides_tonnes**             | `float64`          | Numerical (Continuous)          | Amount of pesticides used (tonnes)                    |
| **avg_temp**                      | `float64`          | Numerical (Continuous)          | Average yearly temperature (°C)                       |

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder

In [ ]:
df = pd.read_csv('yield.csv')
df.head()

,Unnamed: 0,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [21]:
# Drop Unecessary features
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

,Area,Item,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp
0,Albania,Maize,1990,36613,1485.0,121.0,16.37
1,Albania,Potatoes,1990,66667,1485.0,121.0,16.37
2,Albania,"Rice, paddy",1990,23333,1485.0,121.0,16.37
3,Albania,Sorghum,1990,12500,1485.0,121.0,16.37
4,Albania,Soybeans,1990,7000,1485.0,121.0,16.37

In [22]:
# Item
df['Item'].unique()

array(['Maize', 'Potatoes', 'Rice, paddy', 'Sorghum', 'Soybeans', 'Wheat',
       'Cassava', 'Sweet potatoes', 'Plantains and others', 'Yams'],
      dtype=object)

In [25]:
# Encode Item feature
onehot_encoder= OneHotEncoder()
Item_encoder = onehot_encoder.fit_transform(df[['Item']]).toarray()
Item_encoder

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [26]:
onehot_encoder.get_feature_names_out(['Item'])

array(['Item_Cassava', 'Item_Maize', 'Item_Plantains and others',
       'Item_Potatoes', 'Item_Rice, paddy', 'Item_Sorghum',
       'Item_Soybeans', 'Item_Sweet potatoes', 'Item_Wheat', 'Item_Yams'],
      dtype=object)

In [27]:
Item_encoded_df=pd.DataFrame(Item_encoder,columns=onehot_encoder.get_feature_names_out(['Item']))
Item_encoded_df

,Item_Cassava,Item_Maize,Item_Plantains and others,Item_Potatoes,"Item_Rice, paddy",Item_Sorghum,Item_Soybeans,Item_Sweet potatoes,Item_Wheat,Item_Yams
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
28237,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
28238,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
28239,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28240,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28241,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [28]:
## Combine one hot encoder columns with the original data
df=pd.concat([df.drop('Item',axis=1),Item_encoded_df],axis=1)
df.head()

,Area,Year,hg/ha_yield,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,Item_Cassava,Item_Maize,Item_Plantains and others,Item_Potatoes,"Item_Rice, paddy",Item_Sorghum,Item_Soybeans,Item_Sweet potatoes,Item_Wheat,Item_Yams
0,Albania,1990,36613,1485.0,121.0,16.37,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Albania,1990,66667,1485.0,121.0,16.37,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Albania,1990,23333,1485.0,121.0,16.37,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,Albania,1990,12500,1485.0,121.0,16.37,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,Albania,1990,7000,1485.0,121.0,16.37,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [29]:
import pickle
with open('artifacts/onehot_encoder.pkl','wb') as file:
    pickle.dump(onehot_encoder,file)

In [30]:
data = df

In [31]:
## DiVide the dataset into indepent and dependent features
X=data.drop('hg/ha_yield',axis=1)
y=data['hg/ha_yield']

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [32]:
# Area
df['Area'].unique()

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cameroon', 'Canada',
       'Central African Republic', 'Chile', 'Colombia', 'Croatia',
       'Denmark', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Eritrea', 'Estonia', 'Finland', 'France', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'India', 'Indonesia', 'Iraq', 'Ireland', 'Italy',
       'Jamaica', 'Japan', 'Kazakhstan', 'Kenya', 'Latvia', 'Lebanon',
       'Lesotho', 'Libya', 'Lithuania', 'Madagascar', 'Malawi',
       'Malaysia', 'Mali', 'Mauritania', 'Mauritius', 'Mexico',
       'Montenegro', 'Morocco', 'Mozambique', 'Namibia', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Norway',
       'Pakistan', 'Papua New Guinea', 'Peru', 'Poland', 'Portugal',
       'Qatar', 'Romania', 'Rwanda', 'Saudi Arabia', 'Senegal',
       'Slovenia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Tajikistan', 'Thailand',
       'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Kingdom',
       'Uruguay', 'Zambia', 'Zimbabwe'], dtype=object)

In [33]:
# Encode Area
from category_encoders import TargetEncoder

te = TargetEncoder(
    
    cols=["Area"],        # high-cardinality feature
    smoothing=5           # reduces overfitting
)

In [34]:
# Fit on training data and transform test data only
X_train["Area_te"] = te.fit_transform(X_train["Area"], y_train)
X_test["Area_te"] = te.transform(X_test["Area"])

In [35]:
X_train.drop(columns=["Area"], inplace=True)
X_test.drop(columns=["Area"], inplace=True)

In [36]:
import pickle
with open('artifacts/Age_encoder.pkl','wb') as file:
    pickle.dump(te,file)

In [37]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [38]:
X_train

array([[ 0.48627038,  0.65035243, -0.60473529, ..., -0.39886202,
        -0.17748953, -0.90289466],
       [-1.3559997 , -0.08628166,  0.56035507, ..., -0.39886202,
        -0.17748953,  0.13530864],
       [-0.64743428,  0.20922031, -0.61048069, ..., -0.39886202,
        -0.17748953, -0.45801658],
       ...,
       [-1.49771279, -0.86250453, -0.32102235, ..., -0.39886202,
        -0.17748953,  1.0172578 ],
       [-0.78914737, -0.44116679,  0.62407403, ..., -0.39886202,
        -0.17748953,  0.70973766],
       [-0.36400812, -0.41006132, -0.36190627, ..., -0.39886202,
        -0.17748953,  0.40897712]])

In [39]:
with open('artifacts/scaler.pkl','wb') as file:
    pickle.dump(scaler,file)